<style>
    

.container {
  width: auto;
  max-width: 680px;
  padding: 0 10px;
  text-align: center;
}

/* ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black;
} */
   
  </style>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <!-- <div class="row">
          <div class="col-3">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">investor</a></li>
                <li><a href="#">Feedback</a></li>
            </ul>
          </div>
          <div class="col-3">
            <ul>
                <li><a href="#">Gift Card</a></li>
                <li><a href="#">Enquiry</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
          </div> 
          <div class="col-4">
            <ul>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">Terms & conditions</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>   
      </div> -->
      <div class="row">
          <div>
            <span id="copyright">Copyright &#9400; All rights reserved</span>
          </div>
      </div>
    </div>
  </footer>